---
import type { HTMLAttributes } from "astro/types"

import { cn } from "@/lib/utils"
import { Skeleton } from "@/components/ui/astro/skeleton"

type Props = HTMLAttributes<"div"> & {
  showIcon?: boolean
}

const { class: className, showIcon = false, ...props } = Astro.props
const widthClasses = [
  "max-w-[50%]",
  "max-w-[55%]",
  "max-w-[60%]",
  "max-w-[65%]",
  "max-w-[70%]",
  "max-w-[75%]",
  "max-w-[80%]",
  "max-w-[85%]",
  "max-w-[90%]",
]
const widthClass = widthClasses[Math.floor(Math.random() * widthClasses.length)]
---

<div
  data-slot="sidebar-menu-skeleton"
  data-sidebar="menu-skeleton"
  class={cn("flex h-8 items-center gap-2 rounded-md px-2", className)}
  {...props}
>
  {
    showIcon && (
      <Skeleton class="size-4 rounded-md" data-sidebar="menu-skeleton-icon" />
    )
  }
  <Skeleton
    class={cn("h-4 flex-1", widthClass)}
    data-sidebar="menu-skeleton-text"
  />
</div>
