---
import Layout from "./Layout.astro"

interface Props {
  title: string
  description?: string
  image?: string
  seo?: import("@/lib/seo").SeoData
}

const props = Astro.props
---

<Layout {...props}>
  <div class="mx-auto w-full flex-1 px-6 py-12 md:max-w-3xl">
    <slot />
  </div>
</Layout>
